html, body {
    height: 100%;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    padding-top: 20px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 20px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #e7e7e7
}
.navbar-default .navbar-brand {
    font-size: 30px;
    font-weight: bold;
}
.navbar-default .navbar-brand:hover {
    color: #e7e7e7
}
/* Wrapper for page content to push down footer */
 #wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}
@media (max-width: 767px) {
    #wrap {
        width: 100%;
    }
}
@media (min-width: 992px) {
    #wrap {
        width: 970px;
    }
}
/* Set the fixed height of the footer here */
 #footer {
    height: 60px;
}
.footercenter {
    text-align: center;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */
 .container {
    width: auto;
    max-width: 970px;
    padding: 0 15px;
}
.container .credit {
    margin: 20px 0;
}
